.loginBG {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBG::after {
    content: "";
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #fff;
    border-right: 1px solid #dbdfe6;
    position: fixed;
    top: 64px;
    bottom: 0;
    /* height: 100%; */
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu.taskeMenu {
    top: 72px;
}

.main-menu>ul {
    margin: 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    margin-bottom: 1px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-size: 16px;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li>a.active,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #0072bc;
}

.main-menu .fa-2x {
    font-size: 2em;
}

.main-menu .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 15px;
}

.SideMenuIcon {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SideMenuIcon svg {
    width: 30px;
    height: 30px;
}

.headerMenuLists li {
    list-style-type: none;
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
}

.headerMenuLists li a {
    color: #6c797f;
    padding: 0.25rem 0.5rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.25rem;
}

.headerMenuLists li a:hover {
    background: #e6e6e6;
    color: #4a387e;
}

.headerMenuLists li svg {
    margin-right: 0.5rem;
}

.groupedNameWrapper {
    border: 1px solid #ddd;
    width: 300px;
    margin-right: 1rem;
    background: #fff;
}

.grupRow {
    border-bottom: 1px solid #ddd;
    padding: 0.75rem 1rem;
    background-color: #f6f6f6;
    font-weight: 600;
}

.dateRangeWrapper {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.dateRangeRow,
.borderBox {
    border: 1px solid #ddd;
    padding: 1rem 1rem 0;
    background: #fff;
}

.formRow label {
    display: inline-flex;
    font-size: 15px;
}

.formRow .form-control {
    display: block;
    width: 100%;
    padding: .275rem .5rem;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.w_60 {
    width: 60px !important;
}

.w_130 {
    width: 130px !important;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}

.form-check label {
    display: block;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e);
}

.form-check-input:checked {
    background-color: #4a387e;
    border-color: #4a387e;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.form-check-input {
    --bs-form-check-bg: #fff;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-top: .25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #dee2e6;
    /* -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact; */
}

.advanceSearch {
    border-top: 1px solid #ddd;
    padding: 0.5rem 1rem;
    margin: 0 -1rem;
    display: flex;
}

.advanceSearch svg {
    margin-right: 0.5rem;
    transform: rotate(-90deg);
}

.recentTableStyle .MuiPaper-root {
    box-shadow: none;
}

.recentTableStyle .MuiCardContent-root {
    padding: 0;
}

.recentTableStyle table {
    border: solid #ddd;
    border-width: 1px 1px 0;
}

.recentTableStyle table th {
    background-color: #f6f6f6;
    border-right: 1px solid #ddd;
    padding: 0.75rem;
    line-height: normal;
    font-weight: 600;
    white-space: nowrap;
}

.recentTableStyle table td {
    border-right: 1px solid #ddd;
    padding: 0.25rem 0.75rem;
    line-height: normal;
}

.recentTableStyle table td:last-child,
.recentTableStyle table th:last-child {
    border-right: 0;
}

.truCareCloudHeader {
    background: #0c4d85;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1024;
    left: 0;
}

.iconListsHeader {
    display: flex;
    align-items: center;
    justify-content: end;
}

.iconListsHeader svg {
    color: #fff;
    margin-left: 1rem;
    cursor: pointer;
}

.truSearchBox {
    display: flex;
    justify-content: center;
}

.truSearchBox select {
    border-radius: 4px 0 0 4px;
    border: 0;
    font-size: 15px;
}

.truSearchBox svg {
    background: #fff;
    width: 40px;
    height: 100%;
    padding: 6px;
    margin-left: 2px;
}

.truSearchBox input {
    border: 0;
    border-radius: 0 4px 4px 0;
    width: 300px;
    outline: 0;
    font-size: 15px;
}

.authSummaryWrapper {
    background: #d5d5d7;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #959393;
}

.tabStyle .MuiTabs-root .MuiButtonBase-root {
    font-weight: 600;
}